body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url("../../../assets/img/resto.jpg");
    background-size: cover;
    background-position: center;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    color: #fff;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    width: 700px;
}

p {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
