
<body>
    <div class="container">
    <h2>À propos de notre entreprise :</h2> 

    <p>Nos solutions logicielles de pointe, Sushi-Connect, utilisées dans les restaurants Sushi-Delight, sont le fruit du travail remarquable de la Section de Technicien Supérieur (STS) en filière SIO (Services Informatiques aux Organisations), spécialisation SLAM (Solutions Logicielles & Applications Métiers), du lycée Léonard de Vinci de la ville de Melun.</p>
    
    
    <h2>Version locale (bornes de commande en restaurant) :</h2>
    
<p>L'application est hébergée sur l'infrastructure locale du restaurant Sushi-Delight. Aucune donnée personnelle n'est conservée en dehors du processus de commande en caisse pour garantir la confidentialité des clients. Cependant, dans un souci d'amélioration continue, notre entreprise peut collecter et centraliser des données anonymisées pour effectuer des analyses sur les tendances de commande. Ces données sont traitées avec le plus grand soin et ne sont pas partagées sans consentement.</p>
    
    <h2> Version en ligne (application Web) : </h2>
    
    <p> Les informations concernant les paniers de commande sont stockées localement dans le navigateur de l'utilisateur. Cela assure la fluidité des transactions et la continuité de l'expérience utilisateur. Nous respectons votre vie privée :

Nous sommes susceptibles de collecter des informations personnelles pour améliorer nos services. Vous pouvez à tout moment demander l'accès ou la suppression de vos données en nous contactant par e-mail. La confidentialité de nos clients est une priorité absolue.</p>
    

    
    <h2>Hébergement de l’application Sushi-App :</h2>
    
    <h3>Solution frontend :</h3>
    
    <p>L'hébergement est confié à la société renommée GitHub, leader mondial dans le domaine de l'hébergement de code source et de développement collaboratif : github.com.</p>
    
    
    <h2>Solution backend :</h2>
    
    <p>La base de données est hébergée par la société française LWS (Ligne Web Services), une entreprise reconnue pour son expertise dans l'hébergement web sécurisé et fiable : www.lws.fr.</p>
</div>
</body>

